.spacer {
  min-height: 12vh;
}

.container {
  min-height: 88vh;
  margin-left: 18%;
  margin-right: 18%;
}

/* .upper-part {
  display: flex;
  align-items: center;
  justify-content: center;
} */

.profile_info {
  flex-basis: 1;
}

.upper_part {
  display: flex;
  justify-content: space-around;
}

.profile_pic img {
  height: 8rem;
  width: 8rem;
}
