.video_container {
  height: 80vh;
  border-radius: 20px;
  background-color: white;
  overflow: scroll;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
}

.video_container::-webkit-scrollbar {
  display: none;
}

.videos {
  position: relative;
}

.fa {
  position: absolute;
  bottom: 10%;
  left: 2%;
}

.fa h4 {
  color: white;
  margin-left: 20%;
}

.icons_style {
  position: absolute;
  bottom: 20%;
  left: 85%;
}

.like {
  cursor: pointer;
  color: red;
}

.unlike {
  cursor: pointer;
  color: white;
}

.commnet_box {
  position: absolute;
  cursor: pointer;
  color: white;
  bottom: 13%;
  left: 85%;
}

.modal_container {
  display: flex;
  height: 100%;
  width: 100%;
}

.video_modal {
  width: 70%;
  height: 100%;
}

.comment_modal {
  width: 30%;
  height: 100%;
}

.modal_video {
  width: 150px;
}

.card1 {
  height: 62.5vh;
}

.userName {
  color: blue;
}

.all_comments {
  padding: 10px;
}
