.signup_wrapper {
  display: flex;
  justify-content: center;
}

.signup_bg_image {
  width: 27vw;
  margin-top: 3%;
  position: relative;
}

.card_img {
  position: absolute;
  left: 143px;
  top: 93px;
  height: 423px;
  width: 241px;
}

.logo_image {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.logo_image img {
  margin-top: 2%;
}
